<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Seções de umidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card [ngClass]="{'card-ok': umidade.umidadeIdeal, 'card-danger': !umidade.umidadeIdeal}"
    *ngFor="let umidade of dados" (click)="verHistoricos(umidade.zona)">
    <ion-card-header>
      <ion-card-title>Seção {{umidade.zona}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <b class="display-variable-200">{{umidade.umidade}}%</b>
          </ion-col>
          <ion-col size="6">
            <b>{{dateUtils.formatDate(umidade.data)}}</b>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="doRefresh()">
        <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>