<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Monitoramento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!showView">
    <ion-card (click)="verTemperatura()">
      <ion-card-header>
        <ion-card-title>Temperatura</ion-card-title>
        <ion-card-subtitle>Representa a média de temperatura dos sensores espalhados no aviário</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card (click)="verUmidade()">
      <ion-card-header>
        <ion-card-title>Umidade</ion-card-title>
        <ion-card-subtitle>Representa a média de umidade dos sensores espalhados no aviário</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-button color="medium" expand="block" (click)="verTabela()">Tabela de temperatura e umidade</ion-button>
    <ion-button color="primary" expand="block" (click)="encerrarLote()">Finalizar lote</ion-button>
  </div>
  <div *ngIf="showView">
    <ion-card (click)="verTemperatura()" [ngClass]="{'card-ok': temperaturaIdeal, 'card-danger': !temperaturaIdeal}">
      <ion-card-header>
        <ion-card-title>Temperatura</ion-card-title>
        <ion-card-subtitle>Representa a média de temperatura dos sensores espalhados no aviário</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <b class="display-variable-200">{{temperaturaMedia}}ºC</b>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card (click)="verUmidade()" [ngClass]="{'card-ok': umidadeIdeal, 'card-danger': !umidadeIdeal}">
      <ion-card-header>
        <ion-card-title>Umidade</ion-card-title>
        <ion-card-subtitle>Representa a média de umidade dos sensores espalhados no aviário</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <b class="display-variable-200">{{umidadeMedia}}%</b>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-button color="medium" expand="block" (click)="verTabela()">Tabela de temperatura e umidade</ion-button>
    <ion-button color="primary" expand="block" (click)="encerrarLote()">Finalizar lote</ion-button>
  </div>
</ion-content>