// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.display-variable-200 {
    font-size: var(--font-size-200)
}

.display-variable-300 {
    font-size: var(--font-size-300)
}

.card-ok * {
    color: #388E3C;
    background-color: #C8E6C9;
}

.card-danger * {
    color: #D32F2F;
    background-color: #FFCDD2;
}

.variable-ok {
    color: #388E3C;
}

.variable-danger {
    color: #D32F2F;
}